<div class="sidebar float-left">
 <div class="text-center">

    <!--- Aqui iremos colocar a foto do usuario se ele tiver -->
    <a href="/logout">
    <img class="round user-avatar" src="https://preview.redd.it/nx4jf8ry1fy51.gif?format=png8&s=a5d51e9aa6b4776ca94ebe30c9bb7a5aaaa265a6" width="52" alt="{{username}}" title="{{username}}">
    </a>

  </div style="border: #fff solid 2px;">
  <hr class="guild-seperator">
      <div class="text-center guild-items mt-2">
        <h3 style="display: none;">{{username}}</h3>
        <div class="active">
        <a href="/me">
          <img class="guild-image user-avatar" src="https://media.discordapp.net/attachments/777395872568049695/847850552645517332/pp.jpg" alt="Programação" title="Programação">
        </a>
        </div>
      </div>
  </a>
</div>

    <form id="chat">
        <!--input type="text" name="username" placeholder="Digite seu usuário"-->
        <ul class="messages"></ul>
        <div id="divSend">
            <input type="text" name="message" placeholder="Digite sua mensagem">
        </div>
    </form>



