<div class="sidebar float-left">
 <div class="text-center">

    <!--- Aqui iremos colocar a foto do usuario se ele tiver -->
    <a href="/index">
    <img class="round user-avatar" src="https://preview.redd.it/nx4jf8ry1fy51.gif?format=png8&s=a5d51e9aa6b4776ca94ebe30c9bb7a5aaaa265a6" width="52" alt="Seu Avatar" title="Avatar">
    </a>

  </div>
  <hr class="guild-seperator">
      <div class="text-center guild-items mt-2">
        <div class="active">
        <a href="/index">
          <img class="guild-image user-avatar" src="https://media.discordapp.net/attachments/777395872568049695/847850552645517332/pp.jpg" alt="Programação" title="Programação">
        </a>
        </div>
      </div>
  </a>
</div>

<form id="chat">
             <div class="messages"></div>
             <input class="nome" type="text" name="username" placeholder="Seu Nome">
             <input class="mensagem" type="text" name="message" placeholder="Conversar em #chat_geral">
             <button type="submit">Enviar</button>
</form>