<div class="sidebar float-left">
 <div class="text-center">

    <!--- Aqui iremos colocar a foto do usuario se ele tiver -->
    <a href="/index">
    <img class="round user-avatar" src="{{avatar}}" width="52" alt="Seu Avatar" title="{{nome}}">
    </a>
  </div>
  <hr class="guild-seperator">
      <div class="text-center guild-items mt-2">
        <a href="/chat">
          <img class="guild-image user-avatar" src="https://media.discordapp.net/attachments/777395872568049695/847850552645517332/pp.jpg" alt="Programação" title="Programação">
        </a>
      </div>
  </a>
</div>