<div class="opcoes">
    <div class="buttom-1">
        <a href="/show">Ver Postagens</a>
    </div>
    <div class="buttom-2">
        <a href="/cadastrar">publicar Postagens</a>
    </div>
</div>

<style>
    body{
        background: #000;
    }

    .opcoes{
        background: rgba(255, 77, 77, 0.9);
        width: 450px;
        height: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    .opcoes .buttom-1{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        background: lightgray;
        padding: 15px;
        border-radius: 5px;
    }

    .opcoes .buttom-2{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        background: lightgray;
        padding: 15px;
        border-radius: 5px;
    }

    .opcoes .buttom-1 a{
        color: #000;
        text-decoration: none;
        font-size: 20px;
    }

    .opcoes .buttom-2 a{
        color: #000;
        text-decoration: none;
        font-size: 20px;
    }
</style>