<h1>
    Pagina de login
</h1>
<div class="login-form">
<form action="/login" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password" 
        placeholder="password">
    <button>Entrar</button>
</form>

<p><a href="/register">Clique aqui</a> para se registrar.</p>
</div>