<h1>
    Pagina de Registro.
</h1>
<form action="/register" method="POST">
    <input type="text" name="username" 
        placeholder="username">
    <input type="password" name="password" 
        placeholder="password">
    <button>Enviar</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>

<p><a href="/login">Clique aqui</a> para logar.</p>