<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/navbar.css">

        <meta name="description" content="Joia!" />
        <meta itemprop="thumbnailUrl" content="https://media.discordapp.net/attachments/683344477871538229/777344047404286022/LogoSky.png" />
        <meta itemprop="image" content="https://media.discordapp.net/attachments/683344477871538229/777344047404286022/LogoSky.png" />

        <link href="https://media.discordapp.net/attachments/683344477871538229/777344047404286022/LogoSky.png" rel="icon" type="image/x-icon" />

        <title>Sky - Rede Social</title>

        <script src="/js/navbar.js" defer></script>
    </head>

    <body>
        <header id="header">
            <a href="/" id="logo">Sky</a>
            <nav id="nav">
              <button id="btnMobile" aria-expanded="false" aria-controls="menu" aria-haspopup="true" aria-label="Abrir Menu"><span id="hamburguer"></span></button>
              <ul id="menu" role="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/cadastrar">Postar</a></li>
                <li><a href="/show">Ver postagens</a></li>
              </ul>
            </nav>
        </header>

        {{{body}}}
    </body>
<html>